html {
    display: block;
}

body {
    background-color: #f6f6f6;
}

html, body {
    font-family: sans-serif;
}

div {
    display: block;
}

.head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}


#personal {
    position: absolute;
    top: 0.33em;
    right: 1em;
    margin-right: 0.75em;
    z-index: 100;
}

#personal ul {
    line-height: 1.125em;
    float: left;
    margin-left: 0.75em;
    margin-top: 0.75em;
    font-size: 0.75em;
    white-space: nowrap;
}

.left-nav  ul {
    float: left;
    line-height: 1.125em;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.infobox {
    width: 22em;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;            /*tableの要素間の幅を指定*/
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td, th {
    display: table-cell;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.infobox td, .infobox th {
    vertical-align: top;
    text-align: left;
}

#searchButton {
    background:  url("../image/search_icon.svg.png")no-repeat;
    background-size: 80%;
    background-position: center center;
}

input#searchButton {
    width:20px;
    height: 20px;
    position: absolute;
    right: 5px;
}

#left-navigation {
    margin-left: 11em;
    margin-top: 2.5em;
    margin-bottom: -2.5em;
    float:left;
}

.left-nav, .right-nav, .p-views {
    float: left;
    height: 2.5em;
    padding-left: 1px;
    padding-top: 0.65em;
}

.left-nav ul {
    float: left;
    line-height: 1.125rem;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#right-navigation {
    float: right;
    margin-top: 2.5em;
}

.p-views ul {
    float: left;
    line-height: 1.125rem;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.p-search {
    display: block;
    margin-right: 1em;
    margin-left: 0.5em;
    float: left;
}

.p-search h3 {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.simpleSearch {
    background-color: white;
    color: #000;
    display: block;
    width: 20vw;
    min-width: 5em;
    max-width: 20em;
    padding-right: 1.4em;
    height: 1.4em;
    margin-top: 0.65em;
    position: relative;
    min-height: 1px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}


.simpleSearch .searchButton {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 0.8125em;
    direction: ltr;
    -webkit-appearance: textfield;
}

.simpleSearch input {
    background-color: transparent;
    color: #000;
    margin: 0;
    border: 0;
}

.head ul {
    height: 1.9em;
    padding-left: 0.615em;
    padding-right: 0.615em;
}

.star-and-lock {
    padding-top: 0.4em;
    float: right;
    line-height: 1.6;
    font-size: 0.875em;
    position: relative;
    z-index: 1;

}

h1 {
    overflow: visible;
    font-size: 1.8em;
    display: block;
    position: relative;
    top: 70px;
    right: -180px;
}

.bodyContent {
    position: relative;
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;
}

.free-encyclopedia {
    display: block;
    font-size: 92%;
}