html {
    display: block;
}

body {
    background-color: #f6f6f6;
}

html, body {
    font-family: sans-serif;
}

div {
    display: block;
}

.head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}


#personal {
    position: absolute;
    top: 0.33em;
    right: 1em;
    margin-right: 0.75em;
    z-index: 100;
}

#personal ul {
    line-height: 1.125em;
    float: left;
    margin-left: 0.75em;
    margin-top: 0.75em;
    font-size: 0.75em;
    white-space: nowrap;
}

.left-nav  ul {
    float: left;
    line-height: 1.125em;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.infobox {
    width: 22em;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;            /*tableの要素間の幅を指定*/
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td, th {
    display: table-cell;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.infobox td, .infobox th {
    vertical-align: top;
    text-align: left;
}

#searchButton {
    background:  url("../image/search_icon.svg.png")no-repeat;
    background-size: 80%;
    background-position: center center;
}

input#searchButton {
    width:20px;
    height: 20px;
    position: absolute;
    right: 5px;
}

#left-navigation {
    margin-left: 11em;
    margin-top: 2.5em;
    margin-bottom: -2.5em;
    float:left;
}

.left-nav, .right-nav {
    float: left;
    height: 2.5em;
    padding-left: 1px;
    padding-top: 0.65em;
}

.p-views {
    float: left;
    height: 2.5em;
    padding-left: 1px;
}

.left-nav ul {
    float: left;
    padding-top: 0.65em;
    line-height: 1.125rem;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#right-navigation {
    float: right;
    margin-top: 2.5em;
}

.p-views ul {
    float: left;
    line-height: 1.125rem;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.p-search {
    display: block;
    margin-right: 1em;
    margin-left: 0.5em;
    float: left;
}

.p-search h3 {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.simpleSearch {
    background-color: white;
    color: #000;
    display: block;
    width: 20vw;
    min-width: 5em;
    max-width: 20em;
    padding-right: 1.4em;
    height: 1.4em;
    margin-top: -3.35px;
    position: relative;
    min-height: 1px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}


.simpleSearch .searchButton {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 0.8125em;
    direction: ltr;
    -webkit-appearance: textfield;
}

.simpleSearch input {
    background-color: transparent;
    color: #000;
    margin: 0;
    border: 0;
}

.head ul {
    height: 1.9em;
    padding-left: 0.615em;
    padding-right: 0.615em;
}

.star-and-lock {
    width: 100px;
    padding-top: 6.4em;
    margin-right: 20px;
    float: right;
    line-height: 1.6;
    font-size: 0.875em;
    position: relative;
    z-index: 1;
}

.star-and-lock img {
    float: left;
    padding-left: 9px;
}


h1 {
    overflow: visible;
    font-size: 1.8em;
    display: block;
    position: relative;
    top: 70px;
    right:0px;
}

.bodyContent {
    position: relative;
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;
    margin-top: 95px;
}

.bodyContent p {
    line-height: inherit;
    margin: 0.5em 0;
}

.free-encyclopedia {
    display: block;
    font-size: 92%;
}

.content-sub {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
}

.box-index {
    display: table;
    padding: 7px;
    zoom: 1;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    font-size: 95%;
}

.index-title {
    text-align: center;
    direction: ltr;
}

.index-title h2 {
    display: inline;
    font-size: 100%;
    margin-top: 1em;
    line-height: 1.3em;
    margin-bottom: 0.25em;
    padding: 0;
    font-weight: bold;
}

li {
    margin-bottom: 0.1em;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

.panel {
    padding-left: 0.5em;
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
}

.content {
    margin-left: 11em;
    padding: 1.25em 1.5em 1.5em 1.5em;
}
.logo img{
    display: block;
    width: 10em;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
}

.portal {
    margin: 0 0.6em 0 0.7em;
    padding: 0.25em 0;
    direction: ltr;
    background-position: top left;
    background-repeat: no-repeat;
}

.space-left {
    margin-left: 0.5em;
}

.portal ul {
    list-style: none none;
    margin: 0;
    padding: 0.3em 0 0 0;
}

.portal li {
    line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    word-wrap: break-word;
}

.portal h3 {
    font-size: 0.75em;
    color: #444444;
    font-weight: normal;
    margin: 0.5em 0 0 0.66666667em;
    padding: 0.25em 0;
    cursor: default;
    border: 0;
}